@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* Vatiables */
:root {
  /* Colors */
  /* Primary Colors */
  --goldBrown: #A2783A;
  --activeLink: #13654C;

  /* Neutral Colors */
  --black: #000000;
  --lightBlack: #1E1E1E;
  --boxBg: #CDCDCD;
  --bgColor: #EAE2E2;
  --linkColor: #909090;
  --footerBg: #656565;
  --iconColor: #DED2C1;
  --white: #FFFFFF;

  /* Fonts */
  --comoFont: "Cormorant Garamond", serif;
  --interFont: "Inter", sans-serif;
  --alexFont: "Alex Brush", cursive;
  --nunitoFont: "Nunito Sans", sans-serif;
}

/* Reset Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Base Styles */
body {
  background-color: var(--bgColor);
}

/* h1 {
  text-align: center;
  font-weight: 600;
  font-size: 2.15rem;
  margin-block: 1rem; 
} */

a {
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}

button {
  cursor: pointer;
}

abbr[title] {
  text-decoration: none;
}

input:focus {
  border: none;
  outline: none;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* Utility Styles */
.container {
  width: 90%;
  margin-inline: auto;
}

/* Mobile Styles */
/* Navbar Styles */
header.header {
  position: sticky;
  top: 0;
  width: 100%;
}

header.header h1 {
  background-color: var(--white);
  border-bottom: 2px solid var(--bgColor);
  text-align: center;
  font-family: var(--alexFont);
  font-size: 1.6rem;
  padding-block: .5rem;
  font-weight: 500;
  color: var(--goldBrown);
}

header.header nav.navbar {
  background-color: var(--white);
  padding-block: .7rem;
  font-family: var(--interFont);
}

/* Hamburger Menu */ 
li.hamburger {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-inline-end: 1rem;
  z-index: 999;
}

li.hamburger .hamburger-icon {  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 19px;
  cursor: pointer;
}

li.hamburger::marker {
  display: none;
  color: var(--white);
  background: var(--white);
}

li.hamburger .hamburger-icon span {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: hsl(0, 18%, 70%);
  transition: transform 0.4s ease-in-out;
}

li.hamburger .hamburger-icon.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

li.hamburger .hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

li.hamburger .hamburger-icon.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Nav Styles */
aside.active nav.secondNav {
  background: hsl(0, 18%, 95%);
  width: 50%;
  height: 100vh;
  position: fixed;
  top: 90px;
  left: -100%;
  transition: left 0.4s ease-in-out;
  z-index: 999;
}

aside.active nav.secondNav.open {
  left: 0;
}

aside.active nav.secondNav ul {
  font-family: inherit;
  font-weight: 600;
  padding: 0;
  font-size: 0.84rem;
  list-style: none;
  display: flex;
  flex-direction: column; 
  height: 100%;
}

aside.active nav.secondNav ul li {
  display: flex;
  align-items: center;
  gap: .7rem;
  background: var(--white);
  padding: 10px;
  opacity: 0;
  transform: translateX(-100%);
  margin-block-end: 1rem;
  color: var(--black);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

aside.active nav.secondNav.open ul li {
  opacity: 1;
  transform: translateX(0);
}

aside.active nav.secondNav ul li:nth-child(1) {
  transition-delay: 0.1s;
}

aside.active nav.secondNav.open ul li:nth-child(1) {
  transition-delay: 0.2s;
}

aside.active nav.secondNav ul li:nth-child(2) {
  transition-delay: 0.2s;
}

aside.active nav.secondNav.open ul li:nth-child(2) {
  transition-delay: 0.3s;
}

aside.active nav.secondNav ul li:nth-child(3) {
  transition-delay: 0.3s;
}

aside.active nav.secondNav.open ul li:nth-child(3) {
  transition-delay: 0.4s;
}

aside.active nav.secondNav ul li:nth-child(4) {
  transition-delay: 0.4s;
}

aside.active nav.secondNav.open ul li:nth-child(4) {
  transition-delay: 0.5s;
} 

aside.active nav.secondNav ul li:nth-child(5) {
  transition-delay: .5s;
}

aside.active nav.secondNav.open ul li:nth-child(5) {
  transition-delay: 0.6s;
} 

aside.active nav.secondNav ul li img {
  width: 12%; 
}

/* Home Styles */
main section#Home {
  width: 100%;
  background-image: url(./assets/images/celebration.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section#Home h1 {
  font-family: var(--interFont);
  margin-block-start: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

main section#Home article {
  width: 60%;
  background-color: var(--white);
  padding: .6rem;
  color: var(--black);
  margin-block: 1.5rem 2rem;
}

section#Home article h2 {
  font-family: var(--alexFont);
  font-size: 1rem;
  font-weight: 500;
  color: var(--goldBrown);
}

section#Home article h3 {
  margin-block: .4rem;
  font-family: var(--comoFont);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}

section#Home article p {
  font-size: 0.7rem;
  font-family: var(--nunitoFont);
}

section#Home article button {
  background-color: var(--black);
  border: none;
  color: var(--white);
  font-size: 0.6rem;
  font-weight: 500;
  font-family: var(--comoFont);
  padding: .3rem;
  margin-block-start: .5rem;
}

/* About Styles */
main section#About {
  margin-block: 3rem;
} 

main section#About > .container h2 {
  text-align: center;
  font-family: var(--nunitoFont);
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--black);
}

main section#About > .container h3 {
  font-family: var(--alexFont);
  color: var(--goldBrown);
  font-weight: 500;
  text-align: center;
  margin-block: .4rem;
  font-size: 0.95rem;
}

main section#About > .container p {
  margin-block: .7rem;
  font-family: var(--nunitoFont);
  color: var(--black);
  font-size: 0.75rem;
  line-height: 1.3;
}

/* Services Styles */
main section#Services {
  margin-block: 3rem;
} 

main section#Services h2 {
  text-align: center;
  font-family: var(--nunitoFont);
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--black);
}

main section#Services article {
  margin-block: 2rem;
}

section#Services article > .container .item-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#Services article > .container .item-container img {
  width: 100%;
  height: auto;
  display: block;
}

article > .container .item-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000000 79.75%);
  color: var(--white);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.item-container .overlay {
  color: var(--white);
}

.item-container .overlay h3 {
  font-family: var(--alexFont);
  font-weight: 400;
  font-size: 1rem;
  margin-block-end: .2rem;
}

.item-container .overlay p {
  text-transform: uppercase;
  font-family: var(--nunitoFont);
  font-weight: 500;
  font-size: 0.8rem;
  margin-block-end: 1rem;
  text-align: center;
}

article > .container .item-container:hover .overlay {
  opacity: 1;
}

/* Gallery Styles */
main section#Gallery {
  margin-block: 3rem;
} 

main section#Gallery h2 {
  text-align: center;
  font-family: var(--alexFont);
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--goldBrown);
}

main section#Gallery > .container aside {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-block: 2rem;
}

main section#Gallery > .container aside img.gallery-item {
  width: calc(33.333% - 20px);
  height: 120px;
}

img.gallery-item:nth-child(1) {
  flex: 1 1 calc(8% - 20px);
}

img.gallery-item:nth-child(2), img.gallery-item:nth-child(3) {
  flex: 1 1 calc(40% - 20px);
}

img.gallery-item:nth-child(4) {
  flex: 1 1 calc(50% - 20px);
  height: 100px;
}

img.gallery-item:nth-child(5), img.gallery-item:nth-child(6) {
  flex: 1 1 calc(50% - 20px);
}

img.gallery-item:nth-child(7) {
  flex: 1 1 50%;
  height: 150px;
}

/* Contact Styles */
main section#Contact {
  margin-block: 3rem;
  color: var(--black);
}

main section#Contact > .container h2 {
  font-family: var(--nunitoFont);
  font-weight: 500;
  font-size: 1.2rem;
}

main section#Contact > .container .contacts-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  margin-block: 1rem;
}

main section#Contact > .container .contacts-container article.card {
  border-radius: 5px;
  padding-inline: .9rem;
  flex-wrap: wrap;
  height: 60px;
  background: var(--boxBg);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
}

.container .contacts-container article.card h3 {
  font-family: var(--alexFont);
  font-size: 0.8rem;
  font-weight: 400;
  margin-block-end: .3rem;
}

.container .contacts-container article.card p {
  font-family: var(--nunitoFont);
  font-size: 0.5rem;
  font-weight: 500;
}

/* Mail Styles */
main section#Mail {
  margin-block: 3rem;
  color: var(--black);
}

main section#Mail > .container h2 {
  font-family: var(--nunitoFont);
  font-weight: 500;
  font-size: 1.2rem;
}

main section#Mail > .container .contact-container {
  width: 100%;
  margin-block: 1rem;
}

.container .contact-container form {
  width: 100%;
}

.container .contact-container form .top-inputs {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.container .contact-container form input, textarea {
  margin-block-end: 1rem;
  border-radius: 5px;
  border: 1px solid #E1D1BA;
  padding: 0.5rem;
  background: var(--boxBg);
  width: 100%;
  font-family: var(--nunitoFont);
  font-weight: 500;
  font-size: 0.7rem;
}

.container .contact-container form .top-inputs input {
  width: 47%;
}

.container .contact-container form button {
  background-color: var(--black);
  border: none;
  color: var(--white);
  font-size: 0.9rem;
  font-weight: 500;
  font-family: var(--comoFont);
  padding: .3rem 1.5rem;
  margin-block-start: .5rem;
}

/* Footer Styles */
footer {
  width: 100%;
  font-weight: 500;
  font-family: var(--nunitoFont);
  background: var(--footerBg);
  color: var(--white);
  padding-block: 4rem;
}

footer h2 {
  font-family: var(--alexFont);
  font-weight: 400;
  color: var(--goldBrown);
  margin-block-end: 2rem;
  text-align: center;
  font-size: 1.6rem;
}

footer .container section.contactUs {
  text-align: center;
  font-weight: 500;
  font-size: 1.09rem;
}

footer .container section.contactUs h3 {
  font-weight: inherit;
  margin-block-end: .5rem;
}

footer .container .newsLetter {
  margin-block: 6rem 12rem;
  font-family: var(--nunitoFont);
}

footer .container .newsLetter h3 {
  font-family: var(--comoFont);
  font-weight: 600;
  font-size: 1rem;
  margin-block-end: .5rem;
}

footer .container .newsLetter form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: inherit;
  margin-block: 1rem;
}

footer .container .newsLetter form input {
  width: 70%;
  border: 1px solid hsla(0, 0%, 100%, 0.7);
  border-radius: 5px;
  color: var(--white);
  padding: 0.4rem;
  font-size: 0.8rem;
  font-family: inherit;
  background-color: transparent;
}

footer .container .newsLetter form button {
  border: none;
  width: 25%;
  font-size: 0.85rem;
  font-family: inherit;
  border-radius: 5px;
  color: var(--footerBg);
  background-color: var(--white);
}

footer .container .newsLetter p {
  font-size: 0.9rem;
}

footer .container ul.socialIcons {
  display: flex;
  width: 60%;
  margin-inline: auto;
  justify-content: space-between;
}

/* Desktop Styles */
@media(min-width: 768px) {
  /* Header Styles */
  header.header {
    position: unset;
  }

  header.header h1 {
    font-size: 2.2rem; /**3rem**/
    padding-block: 1rem;
  }

  header.header nav.navbar {
    background-color: var(--white);
    padding-block: 1rem;
    display: flex;
  }

  /* Nav Styles */
  aside nav.secondNav ul.mainNav {
    display: flex;
    width: 50%;
    margin-inline: auto;
    justify-content: space-between;
    font-size: 1.5rem; /*2.23rem*/
  }
  
  aside nav.secondNav ul.mainNav li a {
    padding-bottom: 1px;
    border-bottom: 2px solid transparent;
    color: var(--linkColor);
  }
  
  /* aside nav.secondNav ul.mainNav li a.active {
    padding-bottom: 1px;
    border-bottom: 2px solid var(--activeLink);
    color: var(--activeLink);
  } */

  /* Main Styles */
  main section#Home {
    height: 78vh;
    justify-content: center;
  }
  
  main section#Home h1 {
    margin-block-start: unset;
    font-size: 4rem;
  }
  
  main section#Home article {
    margin-block: 1.5rem;
    padding: 1rem;
    width: 40%;
  }

  section#Home article h2 {
    font-size: 1.6rem;
  }
  
  section#Home article h3 {
    margin-block: .6rem;
    font-size: 1.8rem;
  }
  
  section#Home article p {
    font-size: 1rem;
  }
  
  section#Home article button {
    font-size: 1rem;
    padding: .6rem 1rem;
    margin-block-start: .8rem;
  }

  /* About Styles */
  main section#About {
    margin-block: 5rem;
  } 
  
  main section#About > .container h2 {
    font-size: 2.4rem;
    text-align: left;
  }
  
  main section#About > .container h3 {
    text-align: left;
    margin-block: .4rem;
    font-size: 2rem;
  }
  
  main section#About > .container p {
    font-size: 1.3rem;
  }

  /* Services Styles */
  main section#Services {
    margin-block: 5rem;
  } 

  main section#Services h2 {
    font-size: 2.4rem;
    text-align: left;
    width: 90%;
    margin-inline: auto;
  }

  main section#Services article {
    margin-block: 2rem 4rem;
  }

  section#Services article > .container .item-container {
    width: 80%;
  }

  .item-container .overlay h3 {
    font-size: 2rem;
    margin-block-end: .4rem;
  }
  
  .item-container .overlay p {
    font-size: 1rem;
    margin-block-end: 1.5rem;
  }

  /* Gallery Styles */
  main section#Gallery {
    margin-block: 6rem;
  } 
  
  main section#Gallery h2 {
    text-align: center;
    font-size: 2.5rem;
  }

  main section#Gallery > .container aside {
    gap: 1rem;
    margin-block: 3rem;
  }

  main section#Gallery > .container aside img.gallery-item {
    width: calc(33.333% - 20px);
    height: 200px;
  }

  /* Contact Styles */
  main section#Contact {
    margin-block: 3rem;
    color: var(--black);
  }
  
  main section#Contact > .container h2 {
    font-size: 2.4rem;
  }
  
  main section#Contact > .container .contacts-container {
    margin-block: 2rem;
  }
  
  main section#Contact > .container .contacts-container article.card {
    border-radius: 10px;
    padding: 2rem;
    height: unset;
    width: 32%;
  }
  
  .container .contacts-container article.card h3 {
    font-size: 1.8rem;
    margin-block-end: .3rem;
  }
  
  .container .contacts-container article.card p {
    font-size: 1rem;
  }
  
  /* Mail Styles */
  main section#Mail {
    margin-block: 4rem;
  }

  main section#Mail > .container h2 {
    font-size: 1.7rem;
  }

  main section#Mail > .container .contact-container {
    margin-block: 2rem;
  }

  .container .contact-container form {
    width: 60%;
  }

  .container .contact-container form input, textarea {
    padding: 0.7rem;
    font-size: .9rem;
  }
  
  .container .contact-container form button {
    font-size: 1.2rem;
    padding: .4rem 1.5rem;
    margin-block-start: .7rem;
  }
  
  /* Footer Styles */
  footer h2 {
    font-size: 2.2rem;
    margin-block-end: 2.5rem;
  }

  footer .container section.contactUs {
    font-size: 1.5rem;
  }

  footer .container .newsLetter {
    margin-block: 4rem;
    width: 50%;
    margin-inline: auto;
  }
  
  footer .container .newsLetter h3 {
    font-size: 1.6rem;
  }

  footer .container .newsLetter form input {
    padding: 0.6rem;
    font-size: 1rem;
  }
  
  footer .container .newsLetter form button {
    font-size: 1rem;
  }
  
  footer .container .newsLetter p {
    font-size: 1.2rem;
  }

  footer .container ul.socialIcons {
    width: 25%;
    align-items: center;
    margin-block-start: 5rem;
  }

  footer .container ul.socialIcons li img {
    width: 40px;
  }
}

/* Larger Desktop Style */
@media(min-width: 1430px) {
  /* Header Styes */
  header.header h1 {
    font-size: 3rem;
  }

  /* Nav Styles */
  aside nav.secondNav ul.mainNav {
    font-size: 1.8rem; 
  }

  /* Main Styles */
  main section#Home h1 {
    font-size: 4.3rem;
  }
  
  main section#Home article {
    margin-block: 2rem;
    padding: 1.3rem;
  }

  section#Home article h2 {
    font-size: 1.8rem;
  }
  
  section#Home article h3 {
    margin-block: .8rem;
    font-size: 2rem;
  }
  
  section#Home article p {
    font-size: 1.1rem;
  }
  
  section#Home article button {
    font-size: 1.4rem;
    padding: .5rem 1.2rem;
  }

  /* About Styles */  
  main section#About > .container h2 {
    font-size: 3rem;
  }
  
  main section#About > .container h3 {
    font-size: 2.5rem;
  }
  
  main section#About > .container p {
    font-size: 1.6rem;
  }

  /* Services Styles */
  main section#Services h2 {
    font-size: 3rem;
  }

  .item-container .overlay h3 {
    font-size: 2.5rem;
    margin-block-end: .4rem;
  }
  
  main section#Gallery h2 {
    font-size: 3.1rem;
  }

  /* Contact Styles */
  main section#Contact > .container h2 {
    font-size: 3rem;
  }
  
  .container .contacts-container article.card h3 {
    font-size: 2.5rem;
    margin-block-end: .3rem;
  }
  
  .container .contacts-container article.card p {
    font-size: 1.2rem;
  }
  
  /* Mail Styles */
  main section#Mail > .container h2 {
    font-size: 2rem;
  }
  
  .container .contact-container form button {
    font-size: 1.4rem;
  }
  
  /* Footer Styles */
  footer h2 {
    font-size: 2.3rem;
    margin-block-end: 2.5rem;
  }

  footer .container section.contactUs {
    font-size: 1.7rem;
  }

  footer .container ul.socialIcons {
    margin-block-start: 7rem;
  }
}